<div {{bind-attr class=":modal-dialog modal-sm modal-lg"}}>
	<div class="modal-content">
		{{#if title}}
		<div class="modal-header">
			{{#if dismissable}}
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
			{{/if}}
			<h4 class="modal-title">{{{title}}}</h4>
		</div>
		{{/if}}
		{{yield}}
	</div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->