/*
	Dashboard Styles
*/

@pane-color: rgba(255, 255, 255, 0.75);

.dash {
	.square(100%);
	//TODO: Pull the user-set background below into an inline style, calculated from dash controller
	background: url('images/test/test_dashboard_image.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	.dash-top {
		height: 95px;

		h2 {
			color: @brand-default;
			font-weight: 300;
			padding: 10px 20px;
			margin: 19px 0;
		}

		& > div {
			padding: 0 !important;
			height: 100%;
			float: left;
		}

		.split-left {
			.color-pane();
			.split-media-queries("left");
			.custom-row();
		}
		
		.split-right {
			.split-media-queries("right");
			.custom-row();
		}
	}
}

.color-pane() {
	background-color: @pane-color;
}

.custom-row() {
	@media (max-width: @screen-sm) {
		width: 100%
	}
}

@screen-xl: unit((@screen-lg * 1.5), px);

.split-media-queries(@side)  when (@side = "right") {
	width: 30%;
	@media (min-width: @screen-xl) {
		width: 20%
	}
	@media (min-width: @screen-lg) and (max-width: @screen-xl) {
		width: 28%;
	}
	@media (min-width: @screen-md) and (max-width: @screen-lg) {
		width: 35%;
	}
	@media (min-width: @screen-sm) and (max-width: @screen-md) {
		width: 42%;
	}
}

.split-media-queries(@side)  when (@side = "left") {
	width: 70%;
	@media (min-width: @screen-xl) {
		width: 80%
	}
	@media (min-width: @screen-lg) and (max-width: @screen-xl) {
		width: 72%;
	}
	@media (min-width: @screen-md) and (max-width: @screen-lg) {
		width: 65%;
	}
	@media (min-width: @screen-sm) and (max-width: @screen-md) {
		width: 58%;
	}
}