<div class="card-container">
	<div class="row card card-front">
		<div class="col-md-12 card-left">
			<img {{bind-attr src=picture}} class="profile-picture" height="64" width="64" alt="Profile Picture" />
			<div class="profile-info">
				<div class="profile-name">
					Jimmy Man
				</div>
				<div class="profile-stats">
					180 Slinks<br />
					232 Friends
				</div>
			</div>
		</div>
	</div>
	<div class="card card-back">
		<ul>
			<li><a href="#">View Profile</a></li>
			<li><a href="#">Edit Profile</a></li>
			<li><a href="#">Account Settings</a></li>
			<li><a href="#">App Settings</a></li>
		</ul>
	</div>
</div>