{{!<div id="index-body-wrapper" class="fit-to-parent absolute text-center">
	</div>}}
	<h2>Index</h2>
	{{#link-to 'feed' class="btn btn-primary btn-lg"}}Feed{{/link-to}}
	<p>asdasd<br />asdasd<br />asdasd<br />asdasd<br />asdasd<br />asdasd<br />asdasd<br />asdasd<br />asdasd<br />asdasd<br />asdasd<br />asdasd<br />asdasd<br />asdasd<br />asdasd<br />asdasd<br />asdasd<br />asdasd<br />asdasd<br />asdasd<br />asdasd<br />asdasd<br />asdasd<br />asdasd<br />asdasd<br />asdasd<br />asdasd<br />asdasd<br />asdasd<br />asdasd<br />asdasd<br />asdasd<br />asdasd<br />asdasd<br />asdasd<br />asdasd<br />asdasd<br />asdasd<br />asdasd<br />asdasd<br />asdasd<br />asdasd<br />asdasd<br />asdasd<br />asdasd<br />asdasd<br />asdasd<br />asdasd<br />asdasd<br />asdasd<br />asdasd<br />asdasd<br />asdasd<br />asdasd<br />asdasd<br />

	</p>