<div id="index-body-wrapper" class="fit-to-parent absolute">
	<div id="inner-index-container">
		<div class="logo full fit"></div>
		<div class="text-center">
			<div class="row">
				<div class="col-md-4"></div>
				<div class="col-md-4">
					<h2>Get started for free.</h2>
					<div class="form-group">
						{{input class="form-control" value=email placeholder="Valid Email Address"}}
					</div>
					{{#if email}}
						<br />
						<div class="form-group">
							<label>
								What's your first name?<br />
								<span class="text-muted">(So we can say hello{{#if firstName}} to you {{firstName}}{{/if}}!)</span>
							</label>
							{{input class="form-control" value=firstName}}
						</div>
					{{/if}}
				</div>
				<div class="col-md-4"></div>
			</div>
		</div>
	</div>
</div>