<ul>
	{{#each link in content}}
		<li class="cat-nav-link"><a href="#">{{link.name}}</a></li>
	{{/each}}
	<li class="cat-nav-link"><a href="#"><i class="fa fa-plus fa-fw"></i>Add Quick Link...</a></li>
</ul>