<div class="row">
	<div class="col-md-6 left-col">
		<div class="logo logo-small logo-fit logo-left"></div>
	</div>
	<div class="col-md-6 right-col text-right">
		
			<button class="btn btn-default btn-lg btn-o" {{action "toggleSideMenu"}}>
				{{#if showingSideMenu}}Hide Menu{{else}}Menu{{/if}} <i class="fa fa-bars fa-fw"></i>
			</button>
	</div>
</div>
{{render 'side-menu'}}