<div class="side-menu-container">
	<button class="btn btn-primary btn-block visible-xs" {{action "toggleSideMenu"}}>
		Hide Menu <i class="fa fa-caret-square-o-right"></i>
	</button>
	<div class="side-menu-account">
		<h2>Account</h2>
		{{render 'account-widget'}}
	</div>
	<ul class="side-menu-links">
		<li>{{#link-to 'index'}}Home{{/link-to}}</li>
		<li>{{#link-to 'dashboard'}}Slink Dashboard{{/link-to}}</li>
	</ul>
</div>